.jumbotron {
  background-color: #8CC739; /*green*/
  color: #085DAD;
  border-radius: 0;
  margin-top: 5px;
}
body {
    background-color: #ADB6B5;
}
.green{
  background-color: #8CC739;
}
.extra-padding{
  padding-left: 30px;
  padding-right: 30px;
}
.space{
  margin-top: 10px;
  margin-left: 5px;
}
.navbar-nav li a:hover {
      color: #fff; !important;
      background-color: #21BEDE; !important;
}
hr {
  border-top: 1px solid #21BEDE;
}
.center{
  text-align: center;
}
table{
  margin: auto;
  padding: auto;

}
td {
  border-right-style: solid;
  border-left-style: solid;
  border-width: thin;
  padding: 5px;
}
th{
  text-align: left;
  border-bottom-style: solid;
  padding: 8px;
}
/*#8CC739 green #085DAD dblue #21BEDE lblue
 #FFFFFF white #31C3E7 bblue #ADB6B5 grey*/
